@model IEnumerable<CoreProjesi.Models.Fotografci>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Fotoğrafçılar</h1>
<br />
<p>
    <a asp-action="Create" class="btn btn-success" >Fotoğrafçı Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cinsiyet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinsiyet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maas)
            </td>
            <td>
                <a  asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success" >Düzenle</a> |
                
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" >Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
